body{
  font-family: Georgia;
  background-color: #2A9D8F;
  text-align: center;
  color: white;
}
.welcome{
  border-radius: 12px;
  margin: auto;
  width: 700px;
  height: 50px;
  background-color: #F4A261;
  padding: 40px;
}
.intro{
  border-radius: 12px;
  margin: auto;
  width: 300px;
  height: 80px;
  background-color: #264653;
  padding: 50px;
}
.pics{
  border-radius: 12px;
  margin: auto;
  width: 550px;
  height: 310px;
  background-color: #E9C46A;
  padding: 50px;
}
.keys{
  border-radius: 12px;
  margin: auto;
  width: 600px;
  height: 500px;
  background-color: #E76F51;
  padding: 50px;
}
.click{
  border-radius: 12px;
  margin: auto;
  width: 200px;
  height: 20px;
  background-color: #F4A261;
  padding: 20px;
}
a{
  color: white;
}
